html {
    scroll-behavior: smooth;
}

html, body {
    min-width: 100%;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top right, #000000, #414141);
}

.home-container {
    margin: 0;
    padding: 0%;
    height: 90%;
    width: 100%;
}

.home-left {
    margin-right: 116px;
}

.home-left img {
    width: 300px;
}

.home-right {
    padding-top: 30px;
}

.home-right h6, h3 {
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 31px;
}

.home-right button {
    background-color: #454545 !important;
    outline: none !important;
}

@media only screen and (max-width: 600px) {
    .home-left {
        margin-right: 0;
    }

    .home-left img {
        width: 200px;
        justify-content: center;
    }

    .home-right h6 {
        font-size: 16px;
        text-align: center;
        margin-bottom: 15px;
    }

    .home-right h3 {
        font-size: 20px;
        text-align: center;
    }

    .home-right button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
/* ------------------------------------------------- */
.about-container {
    background-color: #FFFFFF;
    padding-top: 50px;
    
}

.about-container div {
    padding: 0;
    margin: 0;
}

.about-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 250px;
    max-width: none;
}

.kenapa-container, .kapan-container, .motto-container {
    background-color: #262626;
    color: #FFFFFF;
    padding: 20px !important;
    border-radius: 12px;
}
.kenapa-container h6{
    font-weight: bold;
    margin-bottom: 20px;
}

.about-content {
    font-size: 14px;
}
.about-content h6 {
    font-weight: bold;
}

.kenapa-container, .kapan-container, .motto-container {
    margin: 10px !important;
}

@media only screen and (max-width: 600px) {
    .about-container {
        padding-top: 0;
    }

    .about-container img {
        width: 150px;
    }

    .kenapa-container, .kapan-container, .motto-container {
        margin: 10px !important;
    }
    
    .kapan-container {
        margin-right: 0;
    }

    .about-container img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

/* ----------------------------------------------- */
.galeri-container h3 {
    color: black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    
}

.galeri-container img {
    margin-top: 10px;
    border-radius: 10px;
}

.carousel-container {
    background-color: #393939;
    padding: 10px 20px !important;
    margin-bottom: 50px !important;
}

@media only screen and (min-width: 768px) {
    .galeri-container {
        visibility: hidden;
    }

}